@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card-price {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000;
}

.btn-bg-color {
  background-color: #ff9f00;
  font-weight: 600;
}

.mr-left {
  margin-left: .5rem;
}

.badge-new {
  background-color: #00a098;
  padding: 2px 8px;
  font-weight: 500;
  font-size: .9rem;
}

.animate {  
  position: absolute;
  top: 15px;
  left: 0;
  font-weight: 500;
  height: 1.5rem;
  width: 1rem;
  filter: blur(4px);

  animation-duration: 1.3s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: forward;
  background-color: white;
  transform: skewX(-25deg);
}

.heart-icon {
  font-size: 1.1rem;
}

.heart-icon:hover {
  color: #ff0000;
  transform: scale(1.4);
  transition-duration: .2s;
}


.liked {
  color: #ff0000;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}


@keyframes move {
  from {
    transform: skewX(-25deg);
    opacity: 0.6;
  }

  to {
    transform: translateX(500%);
    opacity: 0;
  }
} 