
.badge-new {
  background-color: #00a098;
  /* background-color: #1ebe6e; */
  padding: 2px 8px;
  font-weight: 500;
  font-size: .9rem;
}

.animate {  
  position: absolute;
  top: 15px;
  left: 0;
  color: #fff;
  font-weight: 500;
  height: 1.5rem;
  width: 1rem;

  animation-duration: 1.2s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: forward;
  background-color: white;
  position: absolute;
  transform: skewX(-25deg);
}

@keyframes move {
  from {
    transform: skewX(-25deg);
    opacity: 0.25;
  }

  to {
    transform: translateX(500%);
    opacity: 0;
  }
} 